<header class="mobile-header">
    <div class="mobile-header__title-block">
        <span class="mobile-header__title">
            Основное меню
        </span>
    </div>
    <div class="mobile-header__user-block">
        <div class="mobile-header__user-notifications-block">
            <button class="mobile-header__user-notifications-button
                mobile-header__user-notifications-button--active">
                <span>2</span>
            </button>
        </div>
        <div class="mobile-header__user-profile-block">
            <button class="mobile-header__user-settings-button">
                <div class="mobile-header__user-icon"></div>
                <i class="mobile-header__user-arrow-icon">\/</i>
            </button>
        </div>
    </div>
</header>
