<div class="edit-list-page">
  <div class="edit-list-page__header">
    <span class="edit-list-page__title">
      Добавить позицию
    </span>
    <button class="edit-list-page__cancel-button" (click)="toMenuList()">
      Отмена
    </button>
  </div>
  <div [formGroup]="editSectionForm" class="edit-list-page__form">
    <div class="edit-list-page__form-control">
      <label class="edit-list-page__label" for="name">Название</label>
      <input class="edit-list-page__input" type="text"
        placeholder="Введите название категории" formControlName="name">
    </div>
    <div class="edit-list-page__form-control">
      <label class="edit-list-page__label" for="section">Раздел</label>
      <select class="edit-list-page__select" formControlName="section">
        <option [ngValue]="null">Не выбрано</option>
        <option *ngFor="let item of _enums.SectionLevel | enumList" [ngValue]='item.id'>{{item.name}}</option>
      </select>
    </div>
    <div class="edit-list-page__form-control">
      <label class="edit-list-page__label" for="color">Цвет раздела</label>
      <color-picker [colors]="_constants.SectionColors" formControlName="color"></color-picker>
    </div>
    <div>
      <button class="nomia-button edit-list-page__save-button"
        (click)="saveSection()" [disabled]="!editSectionForm.valid">
        Сохранить
      </button>
    </div>
  </div>
</div>
