@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;700&display=swap');

* {
    margin     : 0;
    padding    : 0;
    outline    : 0;
    box-sizing : border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

:root {

    --offset       : 4px;
    --border-radius: 6px;


    @import './variables/variables.scss';
    @import './dynamic-menu/dynamic-menu.scss';
    @import './edit-list-page/edit-list-page.scss';
    @import './buttons/buttons.scss';
    @import './color-picker/color-picker.scss';

    color: $font-color;
}