@import './variables';

.menu-list {
    border-top : $border;
    padding-top: calc(var(--offset) * 3);
    font-size  : 14px;

    &__control {
        display: flex;
    }

    &__button {
        display         : block;
        border-radius   : var(--border-radius);
        padding         : calc(var(--offset) * 2) calc(var(--offset) * 2);
        border          : $border;
        background-color: transparent;

        cursor: pointer;

        width: 100%;

        &:not(:first-child) {
            margin-left: calc(var(--offset) * 3);
        }
    }
}

.menu-item-section {
    padding: calc(var(--offset) * 3) 0;

    .menu-item {


        &__block {
            &:not(:last-child) {
                margin-bottom: calc(var(--offset) * 2);
            }
        }

        &__title {
            padding         : calc(var(--offset) * 2) calc(var(--offset) * 2);
            // border : 1px solid black;
            background-color: $meu-item-color;
            border-radius   : var(--border-radius);
        }
    }
}



li {
    list-style: none;
}