@import './variables';

.menu-differ {
    margin    : 0 calc(var(--offset) * 3);
    border-top: $border;
}

.menu-list {
    padding  : calc(var(--offset) * 3) calc(var(--offset) * 3);
    font-size: 14px;

    &__control {
        display      : flex;
        margin-bottom: calc(var(--offset) * 3);
    }

    &__button {
        display         : block;
        border-radius   : var(--border-radius);
        padding         : calc(var(--offset) * 2) calc(var(--offset) * 2);
        border          : $border;
        background-color: transparent;

        cursor: pointer;

        width: 100%;

        &:not(:first-child) {
            margin-left: calc(var(--offset) * 3);
        }
    }
}