<div class="menu-list">
  <section class="menu-list__control">
    <button class="menu-list__button">
      <i></i>
      <span>Раздел</span>
    </button>
    <button class="menu-list__button">
      <i></i>
      <span>Позиция</span>
    </button>
  </section>
  <section class="menu-item-section">

    <ul class="menu-item">
      <li class="menu-item__block" #menuList *ngFor="let item of menu;"
        (click)="toggleMenu(item)">
        <div class="menu-item__title"> {{ item.name }} </div>

        <ol *ngIf="item.opened">
          <li *ngFor="let section of item.sections">
            <span>{{ section.name }}</span>

            <ul *ngIf="section.opened">
              <li *ngFor="let position of section.items">
                <div>
                  <span>
                    {{ position.name }}
                  </span>
                  <span>
                    {{ position.sale }}
                  </span>
                </div>
              </li>
            </ul>

          </li>
        </ol>

      </li>
    </ul>
  </section>
</div>
